# ignore everything
/*
/*/

# ... but these:
!/.zim/
/.zim/modules/
!/dunst
!/fcitx5/
/fcitx5/profile_GGp2dP
/fcitx5/conf/cached_layouts
!/i3/
!/kitty/
!/neofetch/
!/nvim/
/nvim/plugged/*
/nvim/tmp/
!/nvim.bak
/nvim.bak/tmp/
!/lvim
!/polybar/
!/ranger/
ranger/plugins/__pycache__/*
ranger/colorschemes/__pycache__/*
ranger/folders.conf
ranger/colorschemes/__init__.pyo
ranger/colorschemes/default.pyo
ranger/plugins/__init__.pyo
ranger/plugins/devicons.pyo
ranger/plugins/devicons_linemode.pyo
ranger/__pycache__/commands.cpython-39.opt-1.pyc
!/rofi/
!/zsh/
!.p10k.zsh
!README.md
!.gitignore
!initialize.sh
